In [1]:
import pandas as pd

In [4]:
location = 'datasets/DC_Properties.csv'
df = pd.read_csv(location)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (18,19,20,21,22,23,24,33,34,35,37,43,45) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
df.head()

,Unnamed: 0,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,...,LONGITUDE,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,X,Y,QUADRANT
0,0,4,0,Warm Cool,Y,2.0,8,4,1910.0,1988.0,...,-77.040832,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
1,1,3,1,Warm Cool,Y,2.0,11,5,1898.0,2007.0,...,-77.040764,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
2,2,3,1,Hot Water Rad,Y,2.0,9,5,1910.0,2009.0,...,-77.040678,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
3,3,3,1,Hot Water Rad,Y,2.0,8,5,1900.0,2003.0,...,-77.040629,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
4,4,2,1,Warm Cool,Y,1.0,11,3,1913.0,2012.0,...,-77.039361,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW

In [6]:
df.tail()

,Unnamed: 0,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,...,LONGITUDE,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,X,Y,QUADRANT
158952,158952,1,0,Forced Air,Y,NaN,3,1,1938.0,2006.0,...,-77.01942,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158953,158953,1,0,Forced Air,Y,NaN,4,2,1938.0,2006.0,...,-77.01942,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158954,158954,2,0,Forced Air,Y,NaN,4,2,1920.0,2007.0,...,-77.01942,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158955,158955,1,0,Warm Cool,Y,NaN,2,0,1965.0,NaN,...,-77.01823,Southwest Waterfront,NaN,11000.0,NaN,Ward 6,504,-77.018232,38.872961,SW
158956,158956,1,0,Warm Cool,Y,NaN,2,0,1965.0,NaN,...,-77.01823,Southwest Waterfront,NaN,11000.0,NaN,Ward 6,504,-77.018232,38.872961,SW

In [7]:
df.shape

(158957, 49)

In [14]:
df.columns

Index(['Unnamed: 0', 'BATHRM', 'HF_BATHRM', 'HEAT', 'AC', 'NUM_UNITS', 'ROOMS',
       'BEDRM', 'AYB', 'YR_RMDL', 'EYB', 'STORIES', 'SALEDATE', 'PRICE',
       'QUALIFIED', 'SALE_NUM', 'GBA', 'BLDG_NUM', 'STYLE', 'STRUCT', 'GRADE',
       'CNDTN', 'EXTWALL', 'ROOF', 'INTWALL', 'KITCHENS', 'FIREPLACES',
       'USECODE', 'LANDAREA', 'GIS_LAST_MOD_DTTM', 'SOURCE', 'CMPLX_NUM',
       'LIVING_GBA', 'FULLADDRESS', 'CITY', 'STATE', 'ZIPCODE', 'NATIONALGRID',
       'LATITUDE', 'LONGITUDE', 'ASSESSMENT_NBHD', 'ASSESSMENT_SUBNBHD',
       'CENSUS_TRACT', 'CENSUS_BLOCK', 'WARD', 'SQUARE', 'X', 'Y', 'QUADRANT'],
      dtype='object')

In [25]:
df.isnull().sum()

Unnamed: 0                 0
BATHRM                     0
HF_BATHRM                  0
HEAT                       0
AC                         0
NUM_UNITS              52261
ROOMS                      0
BEDRM                      0
AYB                      271
YR_RMDL                78029
EYB                        0
STORIES                52305
SALEDATE               26770
PRICE                  60741
QUALIFIED                  0
SALE_NUM                   0
GBA                    52261
BLDG_NUM                   0
STYLE                  52261
STRUCT                 52261
GRADE                  52261
CNDTN                  52261
EXTWALL                52261
ROOF                   52261
INTWALL                52261
KITCHENS               52262
FIREPLACES                 0
USECODE                    0
LANDAREA                   0
GIS_LAST_MOD_DTTM          0
SOURCE                     0
CMPLX_NUM             106696
LIVING_GBA            106696
FULLADDRESS            52917
CITY                   52906
STATE                  52906
ZIPCODE                    1
NATIONALGRID           52906
LATITUDE                   1
LONGITUDE                  1
ASSESSMENT_NBHD            1
ASSESSMENT_SUBNBHD     32551
CENSUS_TRACT               1
CENSUS_BLOCK           52906
WARD                       1
SQUARE                     0
X                        237
Y                        237
QUADRANT                 237
dtype: int64

In [40]:
HomeData = df[['BATHRM', 'ROOMS','BEDRM', 'SALEDATE', 'PRICE','GRADE','CNDTN', 'WARD']]

In [41]:
HomeData.head()

,BATHRM,ROOMS,BEDRM,SALEDATE,PRICE,GRADE,CNDTN,WARD
0,4,8,4,2003-11-25 00:00:00,1095000.0,Very Good,Good,Ward 2
1,3,11,5,2000-08-17 00:00:00,NaN,Very Good,Good,Ward 2
2,3,9,5,2016-06-21 00:00:00,2100000.0,Very Good,Very Good,Ward 2
3,3,8,5,2006-07-12 00:00:00,1602000.0,Very Good,Good,Ward 2
4,2,11,3,NaN,NaN,Very Good,Good,Ward 2

In [44]:
dupe = df.duplicated() #creates list of True/False values
df[dupe]

Empty DataFrame
Columns: [Unnamed: 0, BATHRM, HF_BATHRM, HEAT, AC, NUM_UNITS, ROOMS, BEDRM, AYB, YR_RMDL, EYB, STORIES, SALEDATE, PRICE, QUALIFIED, SALE_NUM, GBA, BLDG_NUM, STYLE, STRUCT, GRADE, CNDTN, EXTWALL, ROOF, INTWALL, KITCHENS, FIREPLACES, USECODE, LANDAREA, GIS_LAST_MOD_DTTM, SOURCE, CMPLX_NUM, LIVING_GBA, FULLADDRESS, CITY, STATE, ZIPCODE, NATIONALGRID, LATITUDE, LONGITUDE, ASSESSMENT_NBHD, ASSESSMENT_SUBNBHD, CENSUS_TRACT, CENSUS_BLOCK, WARD, SQUARE, X, Y, QUADRANT]
Index: []

[0 rows x 49 columns]

In [37]:
HomeData.dropna(axis=0, how='all')

,BATHRM,HEAT,AC,ROOMS,BEDRM,SALEDATE,PRICE,GRADE,CNDTN,ZIPCODE,WARD
0,4,Warm Cool,Y,8,4,2003-11-25 00:00:00,1095000.0,Very Good,Good,20009.0,Ward 2
1,3,Warm Cool,Y,11,5,2000-08-17 00:00:00,NaN,Very Good,Good,20009.0,Ward 2
2,3,Hot Water Rad,Y,9,5,2016-06-21 00:00:00,2100000.0,Very Good,Very Good,20009.0,Ward 2
3,3,Hot Water Rad,Y,8,5,2006-07-12 00:00:00,1602000.0,Very Good,Good,20009.0,Ward 2
4,2,Warm Cool,Y,11,3,NaN,NaN,Very Good,Good,20009.0,Ward 2
5,3,Hot Water Rad,Y,10,5,2010-02-26 00:00:00,1950000.0,Very Good,Good,20009.0,Ward 2
6,1,Warm Cool,Y,5,2,2011-05-02 00:00:00,NaN,Above Average,Average,20009.0,Ward 2
7,3,Hot Water Rad,Y,8,4,2011-09-29 00:00:00,1050000.0,Very Good,Average,20009.0,Ward 2
8,3,Warm Cool,Y,7,3,2018-05-03 00:00:00,1430000.0,Above Average,Very Good,20009.0,Ward 2
9,1,Hot Water Rad,Y,6,2,2008-12-05 00:00:00,NaN,Good Quality,Average,20009.0,Ward 2
10,3,Forced Air,N,12,5,NaN,NaN,Very Good,Fair,20009.0,Ward 2
11,5,Hot Water Rad,Y,16,6,2009-03-12 00:00:00,NaN,Good Quality,Average,20009.0,Ward 2
12,2,Hot Water Rad,N,9,5,NaN,NaN,Very Good,Average,20009.0,Ward 2
13,2,Warm Cool,Y,11,5,NaN,NaN,Very Good,Average,20009.0,Ward 2
14,3,Warm Cool,Y,5,3,2011-09-30 00:00:00,1325000.0,Above Average,Very Good,20009.0,Ward 2
15,2,Warm Cool,Y,9,4,NaN,NaN,Above Average,Average,20009.0,Ward 2
16,3,Warm Cool,Y,8,3,2010-11-04 00:00:00,1240000.0,Above Average,Very Good,20009.0,Ward 2
17,2,Hot Water Rad,N,6,3,2008-05-08 00:00:00,NaN,Above Average,Average,20009.0,Ward 2
18,3,Hot Water Rad,Y,10,4,2016-08-18 00:00:00,NaN,Above Average,Good,20009.0,Ward 2
19,3,Hot Water Rad,Y,9,3,2001-07-23 00:00:00,592250.0,Good Quality,Good,20009.0,Ward 2
20,3,Hot Water Rad,Y,14,5,2016-01-12 00:00:00,33232.0,Very Good,Very Good,20009.0,Ward 2
21,3,Forced Air,Y,12,3,2014-04-30 00:00:00,NaN,Good Quality,Good,20009.0,Ward 2
22,1,Forced Air,Y,6,3,2006-01-09 00:00:00,907400.0,Above Average,Good,20009.0,Ward 2
23,2,Forced Air,Y,5,3,2012-08-21 00:00:00,1065000.0,Above Average,Very Good,20009.0,Ward 2
24,2,Hot Water Rad,Y,8,3,2012-07-25 00:00:00,1100000.0,Above Average,Good,20009.0,Ward 2
25,1,Hot Water Rad,N,8,4,1996-04-02 00:00:00,20000.0,Above Average,Good,20009.0,Ward 2
26,1,Hot Water Rad,N,10,5,NaN,NaN,Good Quality,Average,20009.0,Ward 2
27,3,Hot Water Rad,Y,9,3,2005-04-06 00:00:00,703700.0,Above Average,Average,20009.0,Ward 2
28,3,Warm Cool,Y,10,4,2015-02-06 00:00:00,NaN,Good Quality,Average,20009.0,Ward 2
29,3,Forced Air,Y,11,3,2013-12-11 00:00:00,1210000.0,Above Average,Very Good,20009.0,Ward 2
...,...,...,...,...,...,...,...,...,...,...,...
158927,2,Ht Pump,Y,6,3,2015-10-07 00:00:00,NaN,NaN,NaN,20001.0,Ward 6
158928,2,Ht Pump,Y,5,2,2017-05-24 00:00:00,632400.0,NaN,NaN,20001.0,Ward 6
158929,2,Ht Pump,Y,5,2,2012-12-19 00:00:00,574000.0,NaN,NaN,20001.0,Ward 6
158930,2,Forced Air,N,4,2,2007-06-25 00:00:00,365000.0,NaN,NaN,20001.0,Ward 6
158931,2,Forced Air,N,4,2,2005-07-06 00:00:00,405000.0,NaN,NaN,20001.0,Ward 6
158932,2,Forced Air,N,4,2,2014-07-09 00:00:00,505000.0,NaN,NaN,20001.0,Ward 6
158933,2,Ht Pump,Y,4,2,2017-01-12 00:00:00,520000.0,NaN,NaN,20001.0,Ward 6
158934,1,Ht Pump,Y,3,1,2017-02-23 00:00:00,499900.0,NaN,NaN,20001.0,Ward 6
158935,1,Ht Pump,Y,3,1,2016-12-28 00:00:00,451000.0,NaN,NaN,20001.0,Ward 6
158936,1,Ht Pump,Y,3,1,2016-12-28 00:00:00,564900.0,NaN,NaN,20001.0,Ward 6
158937,1,Forced Air,Y,4,2,NaN,NaN,NaN,NaN,20001.0,Ward 6
158938,2,Warm Cool,Y,7,4,2015-03-02 00:00:00,660000.0,NaN,NaN,20001.0,Ward 6
158939,1,Forced Air,Y,4,2,2016-09-30 00:00:00,380000.0,NaN,NaN,20001.0,Ward 6
158940,2,Forced Air,Y,7,4,2008-06-04 00:00:00,NaN,NaN,NaN,20001.0,Ward 6
158941,1,Forced Air,Y,4,2,NaN,NaN,NaN,NaN,20001.0,Ward 6
158942,2,Forced Air,Y,7,4,NaN,NaN,NaN,NaN,20001.0,Ward 6
158943,2,Forced Air,Y,5,2,2004-11-08 00:00:00,539000.0,NaN,NaN,20001.0,Ward 6
158944,2,Forced Air,Y,5,2,2016-07-19 00:00:00,908500.0,NaN,NaN,20001.0,Ward 6
158945,1,Forced Air,Y,3,1,2006-07-13 00:00:00,450000.0,NaN,NaN,20001.0,Ward 6
158946,1,Forced Air,Y,4,2,2015-02-11 00:00:00,485355.0,NaN,NaN,20001.0,Ward 6
158947,2,Forced Air,Y,4,2,2008-06-30 00:00:00,320000.0,NaN,NaN,20001.0,Ward 6
158948,2,Forced Air,Y,4,2,2012-10-22 00:00:00,460000.0,NaN,NaN,20001.0,Ward 6
158949,1,Forced Air,Y,4,1,2015-06-09 00:00:00,550000.0,NaN,NaN,20001.0,Ward 6
158950,3,Forced Air,Y,5,3,2015-12-24 00:00:00,635000.0,NaN,NaN,20001.0,Ward 6
158951,3,Forced Air,Y,5,3,2009-11-12 00:00:00,389000.0,NaN,NaN,20001.0,Ward 6
158952,1,Forced Air,Y,3,1,2015-04-03 00:00:00,399900.0,NaN,NaN,20001.0,Ward 6
158953,1,Forced Air,Y,4,2,2013-10-04 00:00:00,416000.0,NaN,NaN,20001.0,Ward 6
158954,2,Forced Air,Y,4,2,2008-09-30 00:00:00,600000.0,NaN,NaN,20001.0,Ward 6
158955,1,Warm Cool,Y,2,0,2015-04-14 00:00:00,215100.0,NaN,NaN,20024.0,Ward 6
158956,1,Warm Cool,Y,2,0,2002-07-22 00:00:00,NaN,NaN,NaN,20024.0,Ward 6

In [42]:
HomeData.dropna(axis=1, how='all')

,BATHRM,ROOMS,BEDRM,SALEDATE,PRICE,GRADE,CNDTN,WARD
0,4,8,4,2003-11-25 00:00:00,1095000.0,Very Good,Good,Ward 2
1,3,11,5,2000-08-17 00:00:00,NaN,Very Good,Good,Ward 2
2,3,9,5,2016-06-21 00:00:00,2100000.0,Very Good,Very Good,Ward 2
3,3,8,5,2006-07-12 00:00:00,1602000.0,Very Good,Good,Ward 2
4,2,11,3,NaN,NaN,Very Good,Good,Ward 2
5,3,10,5,2010-02-26 00:00:00,1950000.0,Very Good,Good,Ward 2
6,1,5,2,2011-05-02 00:00:00,NaN,Above Average,Average,Ward 2
7,3,8,4,2011-09-29 00:00:00,1050000.0,Very Good,Average,Ward 2
8,3,7,3,2018-05-03 00:00:00,1430000.0,Above Average,Very Good,Ward 2
9,1,6,2,2008-12-05 00:00:00,NaN,Good Quality,Average,Ward 2
10,3,12,5,NaN,NaN,Very Good,Fair,Ward 2
11,5,16,6,2009-03-12 00:00:00,NaN,Good Quality,Average,Ward 2
12,2,9,5,NaN,NaN,Very Good,Average,Ward 2
13,2,11,5,NaN,NaN,Very Good,Average,Ward 2
14,3,5,3,2011-09-30 00:00:00,1325000.0,Above Average,Very Good,Ward 2
15,2,9,4,NaN,NaN,Above Average,Average,Ward 2
16,3,8,3,2010-11-04 00:00:00,1240000.0,Above Average,Very Good,Ward 2
17,2,6,3,2008-05-08 00:00:00,NaN,Above Average,Average,Ward 2
18,3,10,4,2016-08-18 00:00:00,NaN,Above Average,Good,Ward 2
19,3,9,3,2001-07-23 00:00:00,592250.0,Good Quality,Good,Ward 2
20,3,14,5,2016-01-12 00:00:00,33232.0,Very Good,Very Good,Ward 2
21,3,12,3,2014-04-30 00:00:00,NaN,Good Quality,Good,Ward 2
22,1,6,3,2006-01-09 00:00:00,907400.0,Above Average,Good,Ward 2
23,2,5,3,2012-08-21 00:00:00,1065000.0,Above Average,Very Good,Ward 2
24,2,8,3,2012-07-25 00:00:00,1100000.0,Above Average,Good,Ward 2
25,1,8,4,1996-04-02 00:00:00,20000.0,Above Average,Good,Ward 2
26,1,10,5,NaN,NaN,Good Quality,Average,Ward 2
27,3,9,3,2005-04-06 00:00:00,703700.0,Above Average,Average,Ward 2
28,3,10,4,2015-02-06 00:00:00,NaN,Good Quality,Average,Ward 2
29,3,11,3,2013-12-11 00:00:00,1210000.0,Above Average,Very Good,Ward 2
...,...,...,...,...,...,...,...,...
158927,2,6,3,2015-10-07 00:00:00,NaN,NaN,NaN,Ward 6
158928,2,5,2,2017-05-24 00:00:00,632400.0,NaN,NaN,Ward 6
158929,2,5,2,2012-12-19 00:00:00,574000.0,NaN,NaN,Ward 6
158930,2,4,2,2007-06-25 00:00:00,365000.0,NaN,NaN,Ward 6
158931,2,4,2,2005-07-06 00:00:00,405000.0,NaN,NaN,Ward 6
158932,2,4,2,2014-07-09 00:00:00,505000.0,NaN,NaN,Ward 6
158933,2,4,2,2017-01-12 00:00:00,520000.0,NaN,NaN,Ward 6
158934,1,3,1,2017-02-23 00:00:00,499900.0,NaN,NaN,Ward 6
158935,1,3,1,2016-12-28 00:00:00,451000.0,NaN,NaN,Ward 6
158936,1,3,1,2016-12-28 00:00:00,564900.0,NaN,NaN,Ward 6
158937,1,4,2,NaN,NaN,NaN,NaN,Ward 6
158938,2,7,4,2015-03-02 00:00:00,660000.0,NaN,NaN,Ward 6
158939,1,4,2,2016-09-30 00:00:00,380000.0,NaN,NaN,Ward 6
158940,2,7,4,2008-06-04 00:00:00,NaN,NaN,NaN,Ward 6
158941,1,4,2,NaN,NaN,NaN,NaN,Ward 6
158942,2,7,4,NaN,NaN,NaN,NaN,Ward 6
158943,2,5,2,2004-11-08 00:00:00,539000.0,NaN,NaN,Ward 6
158944,2,5,2,2016-07-19 00:00:00,908500.0,NaN,NaN,Ward 6
158945,1,3,1,2006-07-13 00:00:00,450000.0,NaN,NaN,Ward 6
158946,1,4,2,2015-02-11 00:00:00,485355.0,NaN,NaN,Ward 6
158947,2,4,2,2008-06-30 00:00:00,320000.0,NaN,NaN,Ward 6
158948,2,4,2,2012-10-22 00:00:00,460000.0,NaN,NaN,Ward 6
158949,1,4,1,2015-06-09 00:00:00,550000.0,NaN,NaN,Ward 6
158950,3,5,3,2015-12-24 00:00:00,635000.0,NaN,NaN,Ward 6
158951,3,5,3,2009-11-12 00:00:00,389000.0,NaN,NaN,Ward 6
158952,1,3,1,2015-04-03 00:00:00,399900.0,NaN,NaN,Ward 6
158953,1,4,2,2013-10-04 00:00:00,416000.0,NaN,NaN,Ward 6
158954,2,4,2,2008-09-30 00:00:00,600000.0,NaN,NaN,Ward 6
158955,1,2,0,2015-04-14 00:00:00,215100.0,NaN,NaN,Ward 6
158956,1,2,0,2002-07-22 00:00:00,NaN,NaN,NaN,Ward 6

In [45]:
HomeData = HomeData[HomeData['PRICE'].notnull() & HomeData['CNDTN'].notnull()]

In [50]:
pd.pivot_table(HomeData, values=['BATHRM','PRICE'], index=['WARD'])

          BATHRM         PRICE
WARD
Ward 1  2.237982  5.965437e+05
Ward 2  2.760966  1.307805e+06
Ward 3  2.892518  1.072160e+06
Ward 4  2.186341  5.063311e+05
Ward 5  2.080748  4.091413e+05
Ward 6  2.045067  5.991495e+05
Ward 7  1.758131  2.370687e+05
Ward 8  1.952444  2.414362e+05

,Unnamed: 0,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,...,LONGITUDE,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,X,Y,QUADRANT
0,0,4,0,Warm Cool,Y,2.0,8,4,1910.0,1988.0,...,-77.040832,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
1,1,3,1,Warm Cool,Y,2.0,11,5,1898.0,2007.0,...,-77.040764,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
2,2,3,1,Hot Water Rad,Y,2.0,9,5,1910.0,2009.0,...,-77.040678,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
3,3,3,1,Hot Water Rad,Y,2.0,8,5,1900.0,2003.0,...,-77.040629,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
4,4,2,1,Warm Cool,Y,1.0,11,3,1913.0,2012.0,...,-77.039361,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
5,5,3,2,Hot Water Rad,Y,1.0,10,5,1913.0,NaN,...,-77.039715,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
6,6,1,0,Warm Cool,Y,2.0,5,2,1917.0,1988.0,...,-77.041055,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW
7,7,3,1,Hot Water Rad,Y,2.0,8,4,1906.0,2011.0,...,-77.040129,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW
8,8,3,1,Warm Cool,Y,2.0,7,3,1908.0,2008.0,...,-77.039903,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW
9,9,1,1,Hot Water Rad,Y,1.0,6,2,1908.0,1979.0,...,-77.040081,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW
10,10,3,0,Forced Air,N,3.0,12,5,1890.0,1950.0,...,-77.040760,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW
11,11,5,0,Hot Water Rad,Y,3.0,16,6,1905.0,NaN,...,-77.039718,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW
12,12,2,0,Hot Water Rad,N,2.0,9,5,1894.0,1979.0,...,-77.039569,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW
13,13,2,0,Warm Cool,Y,2.0,11,5,1885.0,1979.0,...,-77.039644,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW
14,14,3,1,Warm Cool,Y,2.0,5,3,1917.0,2000.0,...,-77.039716,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW
15,15,2,1,Warm Cool,Y,2.0,9,4,1908.0,1990.0,...,-77.039784,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW
16,16,3,1,Warm Cool,Y,1.0,8,3,1908.0,2006.0,...,-77.039844,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW
17,17,2,0,Hot Water Rad,N,1.0,6,3,1908.0,1987.0,...,-77.039961,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW
18,18,3,1,Hot Water Rad,Y,2.0,10,4,1908.0,2006.0,...,-77.040020,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW
19,19,3,1,Hot Water Rad,Y,2.0,9,3,1908.0,2013.0,...,-77.040138,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW
20,20,3,1,Hot Water Rad,Y,1.0,14,5,1880.0,2009.0,...,-77.033774,Old City 2,040 E Old City 2,5201.0,005201 4003,Ward 2,208,-77.033366,38.911716,NW
21,21,3,0,Forced Air,Y,2.0,12,3,1880.0,2009.0,...,-77.033838,Old City 2,040 E Old City 2,5201.0,005201 4003,Ward 2,208,-77.033366,38.911716,NW
22,22,1,0,Forced Air,Y,1.0,6,3,1880.0,2010.0,...,-77.033925,Old City 2,040 E Old City 2,5201.0,005201 4003,Ward 2,208,-77.033366,38.911716,NW
23,23,2,1,Forced Air,Y,1.0,5,3,1880.0,2010.0,...,-77.033972,Old City 2,040 E Old City 2,5201.0,005201 4003,Ward 2,208,-77.033366,38.911716,NW
24,24,2,1,Hot Water Rad,Y,1.0,8,3,1880.0,2004.0,...,-77.034070,Old City 2,040 E Old City 2,5201.0,005201 4003,Ward 2,208,-77.033366,38.911716,NW
25,25,1,0,Hot Water Rad,N,1.0,8,4,1880.0,2010.0,...,-77.034156,Old City 2,040 E Old City 2,5201.0,005201 4003,Ward 2,208,-77.033366,38.911716,NW
26,26,1,0,Hot Water Rad,N,1.0,10,5,1900.0,2004.0,...,-77.034258,Old City 2,040 E Old City 2,5201.0,005201 4003,Ward 2,208,-77.033366,38.911716,NW
27,27,3,0,Hot Water Rad,Y,4.0,9,3,1900.0,1963.0,...,-77.034182,Old City 2,040 E Old City 2,5201.0,005201 4003,Ward 2,208,-77.033366,38.911716,NW
28,28,3,0,Warm Cool,Y,2.0,10,4,1900.0,1960.0,...,-77.034119,Old City 2,040 E Old City 2,5201.0,005201 4003,Ward 2,208,-77.033366,38.911716,NW
29,29,3,1,Forced Air,Y,2.0,11,3,1900.0,2014.0,...,-77.034051,Old City 2,040 E Old City 2,5201.0,005201 4003,Ward 2,208,-77.033366,38.911716,NW
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158927,158927,2,0,Ht Pump,Y,NaN,6,3,1993.0,1993.0,...,-77.019274,Old City 2,040 G Old City 2,4801.0,NaN,Ward 6,475,-77.019277,38.914287,NW
158928,158928,2,1,Ht Pump,Y,NaN,5,2,2013.0,NaN,...,-77.019274,Old City 2,040 G Old City 2,4801.0,NaN,Ward 6,475,-77.019277,38.914287,NW
158929,158929,2,1,Ht Pump,Y,NaN,5,2,2013.0,NaN,...,-77.019274,Old City 2,040 G Old City 2,4801.0,NaN,Ward 6,475,-77.019277,38.914287,NW
158930,158930,2,0,Forced Air,N,NaN,4,2,1900.0,2003.0,...,-77.019243,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,476,-77.019245,38.912954,NW
158931,158931,2,1,Forced Air,N,NaN,4,2,1900.0,2003.0,...,-77.019243,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,476,-77.019245,38.912954,NW
158932,158932,2,1,Forced Air,N,NaN,4,2,1900.0,2003.0,...,-77.019243,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,476,-77.019245,38.912954,NW
158933,158933,2,0,Ht Pump,Y,NaN,4,2,1880.0,2016.0,...,-77.019243,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,476,-77.019245,38.912954,NW
158934,158934,1,1,Ht Pump,Y,NaN,3,1,1880.0,2016.0,...,-77.019243,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,476,-77.019245,38.912954,NW
158935,158935,1,0,Ht Pump,Y,NaN,3,1,1880.0,2016.0,...,-77.019243,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,476,-77.019245,38.912954,NW
158936,158936,1,0,Ht Pump,Y,NaN,3,1,1880.0,2016.0,...,-77.019243,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,476,-77.019245,38.912954,NW
158937,158937,1,0,Forced Air,Y,NaN,4,2,1992.0,1992.0,...,-77.019420,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158938,158938,2,0,Warm Cool,Y,NaN,7,4,1992.0,1992.0,...,-77.019420,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158939,158939,1,0,Forced Air,Y,NaN,4,2,1992.0,1992.0,...,-77.019420,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158940,158940,2,0,Forced Air,Y,NaN,7,4,1992.0,1992.0,...,-77.019420,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158941,158941,1,0,Forced Air,Y,NaN,4,2,1992.0,1992.0,...,-77.019420,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158942,158942,2,0,Forced Air,Y,NaN,7,4,1992.0,1992.0,...,-77.019420,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158943,158943,2,1,Forced Air,Y,NaN,5,2,2004.0,2004.0,...,-77.019420,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158944,158944,2,1,Forced Air,Y,NaN,5,2,2004.0,2004.0,...,-77.019420,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158945,158945,1,0,Forced Air,Y,NaN,3,1,1938.0,2006.0,...,-77.019420,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158946,158946,1,0,Forced Air,Y,NaN,4,2,1938.0,2006.0,...,-77.019420,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158947,158947,2,0,Forced Air,Y,NaN,4,2,1938.0,2006.0,...,-77.019420,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158948,158948,2,0,Forced Air,Y,NaN,4,2,1938.0,2006.0,...,-77.019420,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158949,158949,1,1,Forced Air,Y,NaN,4,1,1938.0,2006.0,...,-77.019420,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158950,158950,3,0,Forced Air,Y,NaN,5,3,1938.0,2006.0,...,-77.019420,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158951,158951,3,1,Forced Air,Y,NaN,5,3,1938.0,2006.0,...,-77.019420,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158952,158952,1,0,Forced Air,Y,NaN,3,1,1938.0,2006.0,...,-77.019420,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158953,158953,1,0,Forced Air,Y,NaN,4,2,1938.0,2006.0,...,-77.019420,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158954,158954,2,0,Forced Air,Y,NaN,4,2,1920.0,2007.0,...,-77.019420,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158955,158955,1,0,Warm Cool,Y,NaN,2,0,1965.0,NaN,...,-77.018230,Southwest Waterfront,NaN,11000.0,NaN,Ward 6,504,-77.018232,38.872961,SW
158956,158956,1,0,Warm Cool,Y,NaN,2,0,1965.0,NaN,...,-77.018230,Southwest Waterfront,NaN,11000.0,NaN,Ward 6,504,-77.018232,38.872961,SW

In [16]:
df['SALE_NUM'].groupby(df['WARD']).mean()

WARD
Ward 1    1.780808
Ward 2    1.805973
Ward 3    1.609507
Ward 4    1.596523
Ward 5    1.687204
Ward 6    1.767405
Ward 7    1.556201
Ward 8    1.575280
Name: SALE_NUM, dtype: float64

In [28]:
    df['PRICE'].describe

<bound method NDFrame.describe of 0         1095000.0
1               NaN
2         2100000.0
3         1602000.0
4               NaN
5         1950000.0
6               NaN
7         1050000.0
8         1430000.0
9               NaN
10              NaN
11              NaN
12              NaN
13              NaN
14        1325000.0
15              NaN
16        1240000.0
17              NaN
18              NaN
19         592250.0
20          33232.0
21              NaN
22         907400.0
23        1065000.0
24        1100000.0
25          20000.0
26              NaN
27         703700.0
28              NaN
29        1210000.0
            ...
158927          NaN
158928     632400.0
158929     574000.0
158930     365000.0
158931     405000.0
158932     505000.0
158933     520000.0
158934     499900.0
158935     451000.0
158936     564900.0
158937          NaN
158938     660000.0
158939     380000.0
158940          NaN
158941          NaN
158942          NaN
158943     539000.0
158944     908500.0
158945     450000.0
158946     485355.0
158947     320000.0
158948     460000.0
158949     550000.0
158950     635000.0
158951     389000.0
158952     399900.0
158953     416000.0
158954     600000.0
158955     215100.0
158956          NaN
Name: PRICE, Length: 158957, dtype: float64>

In [29]:
df['PRICE'].describe()

count    9.821600e+04
mean     9.313516e+05
std      7.061325e+06
min      1.000000e+00
25%      2.400000e+05
50%      3.999990e+05
75%      6.520000e+05
max      1.374275e+08
Name: PRICE, dtype: float64